.owl-nav div {
    position: fixed;
    top: 50%
    /*
    height: 20px;
    width: 20px;
    */
  }
  
  .owl-prev {
    left: 5px;
    /**
     * margin-top: -10px;
     * negative margin-top half the height so its centered.
     */
  }
  
  .owl-next {
    right: 5px;
    /**
     * margin-top: -10px;
     * negative margin-top half the height so its centered.
     */
  }