@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
/* *{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
} */
/* body{
  background: #f2f2f2;
} */

.top
{
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}
nav{
  background:white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 36px 0px 36px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 6px;
}
/* nav .nav-items li a:hover{
  color: #ff3d00; 

} */


nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: lightgrey;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #1bb978;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #118353;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  /* width: 40px; */
  text-align: center;
  margin: 0 7px 0px 46px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,.cancel-icon-bars,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
/* ------------------------------------------------------------------------------------- */
@media (max-width: 580px) {
   /* nav .cancel-icon.show
    {
        top: 144%;
        left: 40.7%;
    } */

}


@media (max-width: 600px) {
    #wishlist {
      display: none;
    }
    /* .fixed-top{
      height: 15vw !important;
    } */
    
    #userIcon
    {
      margin: 0px !important;
    }
    #cart{
        display: none;
      }
    #drpdwn
    {
        transform: translate3d(-109px, 42px, 0px) !important;
    }
    #cancelicon
    {
        color:rgb(255, 255, 255);
    }
    /* .cancel-icon
    {
        position: absolute !important;
        z-index: 999 !important;
        top: 100px !important;
    } */
    /* .cancel-icon
    {
      top: 16% ;
      left: 12.7% ;
    } */
    /* .logo
    {
        display:none !important;
    } */
    #userIcon
    {
        width:90px !important;
    }
    .rounded-circle
    {
        height: 28px !important;
    }
  }
@media (max-width: 1140px){
  nav{
    padding: 0px;
  }
  #userIcon
  {
    margin: 0 46px 0px 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;

  }
  #icon_logo
  {
    width: 99px;
    float: left;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 50%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #20a870f0;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
    color:white;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
    border: 3px solid transparent;
    border-bottom-color: #1bb978;
    
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    /* border: 3px solid transparent;
    border-bottom-color: #1bb978; */
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 1px;
    /* background: #1bb978; */
    border-radius: 3px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
    margin: 0 0px 0px 46px;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
    /* top: 147%;
    left: 58.7%; */
  }
  nav .cancel-icon-bars.show{
    display: block;
    margin: 0 0px 0px 0px;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .search-icon{
    margin: 0 0px 0 20px;
  }
  nav form{
    right: 30px;
    width: 204px;
  }
  /* .cancel-icon
  {
    top: 10% ;
    left: 59.7% ;
  } */
  #icon_logo
  {
        width: 54px !important;
        /* left: 16.5% !important;
        position: absolute !important;
        top: 1.8% !important; */
  }
}
@media (max-width: 350px){
    /* .cancel-icon
    {
      top: 145%;
      left: -19.3%;
    } */

 
  nav ,
    nav .search-icon{
    /* margin: 0 10px; */
    font-size: 16px;
  }
  .menu-icon
  {
      margin: 0;
  }

  #userIcon
  {
    width: 64px !important;
    margin:0;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content header{
  font-size: 30px;
  font-weight: 700;
}
.content .text{
  font-size: 30px;
  font-weight: 700;
}
.content .space{
  margin: 10px 0;
}
/* ::marker{
    display: none !important;
} */

.nav{
    list-style:none !important;
}

#drpdwn
{
    position: absolute !important;
    will-change: transform !important;
    top: 0px !important;
    left: 0px !important;
    transform: translate3d(-109px, 42px, 0px) !important;
    text-align: center !important;
}

#Myaccount
{
    padding-left: 9px;
}

#searchicon{
    color:#1bb978;

}

.dropdown-toggle::after 
{
    color:#1bb978;
}

#heart
{
    color:#1bb978 !important;
}

#cart
{
    color:#1bb978 !important;
}

#bars
{
    color:#1bb978 !important;
}

.rounded-circle
{
    height: 34px;
}
.cancel-icon
{
    width:27px !important;
    color: rgb(255, 255, 255) !important;
    /* position: absolute !important; */
    /* top: 17% ;
    left: 59.7% ; */
    border-radius: 100px !important;
    background-color: #1bb978 !important;
    margin: 0px !important;
}

#canceliconbars
{
    text-align: center;
    margin: 0px;
    font-size: 22.9px;
    color: #fff;
    cursor: pointer;
    color:#1bb978 !important;
}
